#home {
  background-color: $green;
  color: white;
  // height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
    font-size: 24px;
  }
  a {
    color: $orange;
    font-weight: bold;
    font-size: 20px;
  }
}
